<div class="auction">
    <h1>Auction</h1>
    <p>The auction is for <b>{{loandAmount}}</b> amd</p>
    <div class="status">
        <div class="auction-data" *ngFor="let key of objectKeys(auctionData)">
            <span>{{key}}</span>
            <span>{{customizeNumberService(auctionData[key])}}</span>
        </div>
    </div>
    <div class="bid-section">
        <app-form-generator [fieldConfig]="fieldConfig"
                            sendBtnTextIconClass="icon-location-arrow"
                            sendBtnText="Call a bid"
                            [sendBtnTextIconClassLeftIcon]="true"
                            (inputAction)="onBidInput($event)"
                            (send)="onBidSubmission($event)">
        </app-form-generator>
    </div>
</div>

