@import '../../../../assets/less/variables.less';

.not-found{
    .flex;
    .center-top;
    .center-left;
    width: 100%;
    min-height: 100vh;
    color: @red;

    h1 {
        font-size: 4rem;
    }
}


