@blue: #006c80;
@gray: #c7c7c7;
@white: #f7f7f7;
@red: red;
@block-space: 20px;
@block-space-sm: 10px;
@headerHeight: 70px;

.transition { transition: all .3s; }

.flex { display: flex;}
.col { flex-direction: column; }
.center-top { align-items: center; }
.center-left { justify-content: center; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.flex-wrap { flex-wrap: wrap; }

.no-event {
  pointer-events: none;
}

.hide {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
