@import '../../../../assets/less/variables.less';

.header {
    height: @headerHeight;
    border-bottom: 1px solid @gray;
    margin-bottom: @block-space;
    .flex;
    .center-top;

    .info {
        margin-left: auto;

        p {
            text-align: right;
        }
    }

    b {
        padding: 0 @block-space-sm;
    }

    .current-bank {
        font-size: 1.2rem;
        color: @blue;
    }
}