<div class="calculator">
    <h1>Overdraft calculator</h1>
    <div class="go-step-back">
        <app-button text="Go step back"
                    iconClass="icon-arrow-back"
                    [leftIcon]="true"
                    (click)="goStepBack(state)">
        </app-button>
    </div>

    <div class="calculator">
        <div class="calc-block" [ngClass]="state === STATES.INIT ? 'allow-touch' : ''">
            <app-form-generator [fieldConfig]="fieldConfig_salary"
                                sendBtnTextIconClass="icon-location-arrow"
                                [sendBtnTextIconClassLeftIcon]="true"
                                (inputAction)="onSalaryInput($event)"
                                (send)="onSalarySubmission($event)">
            </app-form-generator>
        </div>
        <div class="calc-block salary" [ngClass]="state === STATES.SALARY ? 'allow-touch' : ''">
            <p>Based on the budget, your salary and <b>singular overdraft limitations</b> you can pickup up to {{n}} tiems for your salary</p>
            <app-form-generator [fieldConfig]="fieldConfig_options"
                                sendBtnTextIconClass="icon-location-arrow"
                                [sendBtnTextIconClassLeftIcon]="true"
                                (selectOption)="onselectOption($event)"
                                (send)="onOptionSubmission($event)">
            </app-form-generator>
        </div>
        <div class="calc-block period" [ngClass]="state === STATES.OVERDRAFTOPTION ? 'allow-touch' : ''">
            <p>Pick grace period, pls</p>
            <div class="picker">
                <app-form-generator [fieldConfig]="fieldConfig_gracePeriod"
                                    sendBtnText="Next step"
                                    (selectDate)="onSelectDate($event)"
                                    (send)="onPeriodsSubmission($event)">
                </app-form-generator>
            </div>
        </div>
        <div class="calc-block bank" [ngClass]="state === STATES.GETSALARYTHROUGHBANK ? 'allow-touch' : ''">
            <p class="currentBank">Are u <b>{{currentBank.name}}</b> customer?</p>
            <app-form-generator [fieldConfig]="fieldConfig_isBankCustomer"
                                sendBtnText="Start Auction"
                                (send)="onStartAuction($event)">
            </app-form-generator>
        </div>
    </div>
</div>
