<div class="calculator">
    <h1>calculator</h1>
    <div class="go-step-back">
        <app-button text="Go step back"
                    iconClass="icon-arrow-back"
                    [leftIcon]="true"
                    (click)="goStepBack(state)">
        </app-button>
    </div>

    <div class="calculator">
        <div class="calc-block" [ngClass]="state === STATES.INIT ? 'allow-touch' : ''">
            <app-form-generator [fieldConfig]="fieldConfig_salary"
                                sendBtnTextIconClass="icon-location-arrow"
                                [sendBtnTextIconClassLeftIcon]="true"
                                (send)="onSalarySubmission($event)">
            </app-form-generator>

        </div>
        <div class="calc-block" [ngClass]="state === STATES.SALARY ? 'allow-touch' : ''">
            <app-form-generator [fieldConfig]="fieldConfig_options"
                                sendBtnTextIconClass="icon-location-arrow"
                                [sendBtnTextIconClassLeftIcon]="true"
                                (send)="onOptionSubmission($event)">
            </app-form-generator>
        </div>
        <div class="calc-block period" [ngClass]="state === STATES.OVERDRAFTOPTION ? 'allow-touch' : ''">
            <app-form-generator [fieldConfig]="fieldConfig_gracePeriod"
                                sendBtnText="Start Auction"
                                (send)="onPeriodsSubmission($event)">
            </app-form-generator>
        </div>
    </div>
</div>