@import '../../../../assets/less/variables.less';

:host ::ng-deep {
    .calculator {
        position: relative;
    }

    .go-step-back {
        position: absolute;
        top: 0;
        right: 50px;
        button {
            background: transparent;
            color: @blue;
            border: none;
        }
    }

    .calculator {
        text-align: center;
    }

    .calc-block {
        .flex;
        .center-left;
        opacity: .3;
        pointer-events: none;
        padding: @block-space 0;
        .l-form {
            .flex;

            opacity: .3;
            pointer-events: none;
        }

        &.allow-touch {
            opacity: 1;
            pointer-events: all;
            .l-form {
                opacity: 1;
                pointer-events: all;
            }
        }

        &.salary {
            .flex;
            .col;

            app-form-generator {
                .flex;
                .center-left;
            }
        }

        &.period {
            .flex;
            .col;
            .center-left;

            p {
                margin-bottom: @block-space;
            }

            .l-form-builder {
                .flex;
                .center-left;
            }

            .l-field-wrapper {
                .flex;
            }

            .l-form {
                .col;

                .cta {
                    margin-top: @block-space;
                }
            }
        }

        &.bank {
            .flex;
            .col;

            .l-form, .l-radio-button {
                .flex;
                .center-left;
                .center-top;
                .col;
            }
        }
    }
}